@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "NewsLetter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims
@model SonOfCod.Models.Subscriber


<h2>Son Of Cod Newsletter</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Email)
    <p></p>
    @Html.EditorFor(model => model.Email)
    <input type="submit" value="Submit" class="btn btn-default"/>
}

<br />
<p>Welcome to Son Of Cod! Please subscribe to our newsletter for immediate updates and even special offers!</p>
@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Newsletter" asp-action="SubList">Subscriber List</a>
}