@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "SonOfCod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Marketing"))
    {
        <input type="submit" value="Log out" class="btn btn-default" />

    }
}
else
{
    <a asp-controller="Marketing" asp-action="AdminLogin">AdminLogin</a>
    <a asp-controller="Marketing" asp-action="AdminRegister">AdminRegister</a>
}
<h2>Marketing</h2>
<a asp-controller="Newsletter" asp-action="Index">NewsLetter</a>

